body {
  background: #eee;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#main-content {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 1.2rem;
}

h1 {
  text-align: center;
}

p {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
